# Build artifacts
build/
sdkconfig
sdkconfig.old

# Editor-specific files and folders
.vscode/
.idea/
*.swp
*.bak

# System-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Helper script for README generation
setup_readme.py

dependencies.lock
